<!DOCTYPE html>

<html>
        <head>
                <title>
                  SaltyHackers - {{title}}
                </title>

        </head>
        <body>
                <font color="grey"><h1>SaltyHackers!</h1>

                {% block content %}
                <div>
                <font color="grey"><font size=1>
                  <nav>
                <h3>
                 Enter the @username to see how salty they are.
               </h3>
                <form action="/user" method="post">
                        <input type="text" name="by" placeholder="User Name Here">
                        <input type="submit" name="Check User">
                </form>
                </div>

                {% endblock %}


        </body>
</html>
